.parent {
    display: flex;
}

.item {
    border: 1px solid;
    opacity: 0.9;
    width: 100px;
    height: 100px;
    background: #09f;
}

.item:first-child {
    background: #f90;
}

.item:nth-child(2) {
    background: #f09;
}

* {
    box-sizing: border-box;
}